<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        File
    </button>
    <button mat-menu-item>
        Save as
    </button>
</mat-menu> -->

<mat-sidenav-container class="example-container" fullscreen>
    <mat-sidenav #sidenav class="example-sidenav">
        Angular
        Dngular
        HJngular
    </mat-sidenav>
    <div class="example-sidenav-content">
        <button type="button" mat-button (click) = "sidenav.open()">
            open sidenav
        </button>
    </div>
</mat-sidenav-container>